# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/libraries
/libraries-with-intellij-classes.xml
/modules.xml
/runConfigurations
/runConfigurations.xml
/usage.statistics.xml
/caches
/google-pyformat.xml
/google-goimports.xml
/codeStyles
